{% extends "base.html" %}

{% block content %}
<div>
  <h2> Most common word: {{ mostCommon }} </h2>
  <hr>
</div>
<div>
  {% if text %}
    {% for key, value in text.items() %}
      <li>{{ key }}: {{value}}
    {% endfor %}
      </li>
  {% endif %}
</div>
<hr>

<form>
    Key: <input command="text" id="key">
    Value: <input command="text" id="value">
    <input type="submit" class="set" value="Set">
</form>
<form>
    Key: <input command="text">
    <input type="submit" class="delete" value="Delete">
</form>

{% endblock %}

{% block ui %}
<form>
    <input command="text">
    <input command="block">
    <input type="submit" class="set" value="Set">
</form>
<form>
    <input command="text">
    <input type="submit" class="delete" value="Delete">
</form>
{% endblock %}
