{% extends "base.html" %}

{% block content %}
<div class="container" id="most_common_word">
  <h2> Most common word: {{ mostCommon }} </h2>
  <hr>
</div>
<div class="container" id="pretty_print">
  {% if text %}

  <!-- Optional list formatting -->
  <!-- {% for key,value in text.items() recursive %}
      <li>{{ key }}
      {% if value is mapping %}
          <ul>{{ loop(value.items()) }}</ul>
      {% else %}
           : {{ value }} <br>
      {% endif %}
    </li>
  {% endfor %} -->

  {% for key,value in text.items() recursive %}
      {{loop.depth*'+'}} {{ key }} <!--Top level key-->
      {% if value is mapping %}
          <br>{{ loop(value.items()) }}
      {% else %}
           : {{ value }} <br>
      {% endif %}

  {% endfor %}

  {% else %}
      <h1> Text Not Detected </h1>
  {% endif %}
</div>
<hr>

<form>
    Key: <input command="text" id="key">
    Value: <input command="text" id="value">
    <input type="submit" class="set" value="Set">
</form>
<form>
    Key: <input command="text">
    <input type="submit" class="delete" value="Delete">
</form>

{% endblock %}
